<div class="container" style="margin-bottom: 20px">
  <div class="row d-flex justify-content-end">
    <button class="btn btn-info " type="button" data-toggle="modal" data-target="#ProductModal">Novo Produto &nbsp;
      <i class="fas fa-plus"></i></button>
  </div>
</div>

<div class="container">
  <spinner [showSpinner]="showSpinner"></spinner>
  <ng-container *ngIf="produtos == null">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="alert alert-danger" role="alert">
        Nenhum produto encontrado!
      </div>
    </div>
  </ng-container>
  <ng-container>
    <cdk-virtual-scroll-viewport class="example-viewport" itemSize="100">
      <div *cdkVirtualFor="let n of produtos" class="example-item">
        <b>Nome: </b> {{n.title}} &nbsp; <b>Preço: </b> {{ n.price | currency:'BRL'}}
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>


<app-create-product></app-create-product>